@namespace LumexUI
@inherits LumexInputBase<TValue>
@typeparam TValue

@*
Note that we must not set IsFixed=true on the CascadingValue, because the mutations to _context
are what cause the descendant InputRadio components to re-render themselves
*@
<CascadingValue Value="@_context" Name="Context" TValue="RadioGroupContext<TValue>">
    <LumexField Class="@RootClass"
                Style="@RootStyle"
                Label="@Label"
                Description="@Description"
                ErrorMessage="@ErrorMessage"
                Invalid="@Invalid"
                Required="@Required"
                Disabled="@Disabled"
                Classes="@FieldClasses"
                @attributes="@AdditionalAttributes">
        <div class="@WrapperClass"
             data-slot="wrapper"
             data-orientation="@Orientation.ToString().ToLowerInvariant()">
            @ChildContent
        </div>
    </LumexField>
</CascadingValue>