@namespace LumexUI
@inherits LumexComponentBase

<CascadingValue TValue="CheckboxGroupContext" Value="@_context" IsFixed="@true">
    <LumexField Class="@RootClass"
                Style="@RootStyle"
                Label="@Label"
                Description="@Description"
                ErrorMessage="@ErrorMessage"
                Invalid="@Invalid"
                Required="@Required"
                Disabled="@Disabled"
                Classes="@FieldClasses"
                @attributes="@AdditionalAttributes">
        <div class="@WrapperClass" data-slot="wrapper">
            @ChildContent
        </div>
    </LumexField>
</CascadingValue>
