<div class="grid grid-cols-3 gap-6">
    <div>
        <h5>None</h5>
        <div class="w-40 h-40 border-dotted border-1 rounded-small">
            <LumexImage Src="https://picsum.photos/id/51/800/500"
                        Fit="@ObjectFit.None"
                        Radius="@Radius.None"
                        FullHeight
                        FullWidth />
        </div>
    </div>

    <div>
        <h5>Cover</h5>
        <div class="w-40 h-40 border-dotted border-1 rounded-small">
            <LumexImage Src="https://picsum.photos/id/51/800/500"
                        Fit="@ObjectFit.Cover"
                        Radius="@Radius.None"
                        FullHeight
                        FullWidth />
        </div>
    </div>

    <div>
        <h5>Contain</h5>
        <div class="w-40 h-40 border-dotted border-1 rounded-small">
            <LumexImage Src="https://picsum.photos/id/51/800/500"
                        Fit="@ObjectFit.Contain"
                        Radius="@Radius.None"
                        FullHeight
                        FullWidth />
        </div>
    </div>

    <div>
        <h5>Fill</h5>
        <div class="w-40 h-40 border-dotted border-1 rounded-small">
            <LumexImage Src="https://picsum.photos/id/51/800/500"
                        Fit="@ObjectFit.Fill"
                        Radius="@Radius.None"
                        FullHeight
                        FullWidth />
        </div>
    </div>

    <div>
        <h5>ScaleDown</h5>
        <div class="w-40 h-40 border-dotted border-1 rounded-small">
            <LumexImage Src="https://picsum.photos/id/51/800/500"
                        Fit="@ObjectFit.ScaleDown"
                        Radius="@Radius.None"
                        FullHeight
                        FullWidth />
        </div>
    </div>
</div>