<div class="grid grid-cols-4 gap-6">
    <LumexImage Src="https://picsum.photos/id/66/400/300" Radius="@Radius.None" Width="120" />
    <LumexImage Src="https://picsum.photos/id/66/400/300" Radius="@Radius.Small" Width="120" />
    <LumexImage Src="https://picsum.photos/id/66/400/300" Radius="@Radius.Medium" Width="120" />
    <LumexImage Src="https://picsum.photos/id/66/400/300" Radius="@Radius.Large" Width="120" />
    <LumexImage Src="https://picsum.photos/id/66/400/300" Radius="@Radius.Full" Width="120" />
</div>