<div class="w-full flex flex-wrap gap-4 md:flex-nowrap">
    <div class="w-full flex flex-col gap-2">
        <LumexDateInput Label="Value"
                         Placeholder="Enter any date"
                         Clearable="@true"
                         @bind-Value="@_valueOne" />
        <p class="text-sm text-default-500">
            Value: @_valueOne
        </p>
    </div>

    <div class="w-full flex flex-col gap-2">
        <LumexDateInput Label="Value"
                      Placeholder="Enter any date"
                      Clearable="@true"
                      Value="@_valueTwo"
                      ValueChanged="@OnValueChanged" />
        <p class="text-sm text-default-500">
            Value: @_valueTwo
        </p>
    </div>
</div>

@code {
    private DateTime? _valueOne;
    private DateTime? _valueTwo = DateTime.UtcNow;

    private void OnValueChanged(DateTime? value)
    {
        _valueTwo = value;
    }
}