<div class="w-full flex flex-col gap-4">
    <LumexProgressBar Size="@Size.Small" Value="65" Color="@ThemeColor.Default" />
    <LumexProgressBar Size="@Size.Small" Value="65" Color="@ThemeColor.Primary" />
    <LumexProgressBar Size="@Size.Small" Value="65" Color="@ThemeColor.Secondary" />
    <LumexProgressBar Size="@Size.Small" Value="65" Color="@ThemeColor.Success" />
    <LumexProgressBar Size="@Size.Small" Value="65" Color="@ThemeColor.Warning" />
    <LumexProgressBar Size="@Size.Small" Value="65" Color="@ThemeColor.Danger" />
    <LumexProgressBar Size="@Size.Small" Value="65" Color="@ThemeColor.Info" />
</div>
