<div class="w-full flex flex-col gap-4">
    <LumexProgressBar Value="45" ShowLabel="true" Color="@ThemeColor.Primary" />

    <LumexProgressBar Value="70" ShowLabel="true" Color="@ThemeColor.Success">
        <LabelContent>
            <span class="text-small font-medium">@context.Percentage.ToString("F0")% Uploaded</span>
        </LabelContent>
    </LumexProgressBar>

    <LumexProgressBar Value="30" ShowLabel="true" Color="@ThemeColor.Info">
        <LabelContent>
            <div class="flex items-center justify-between w-full">
                <span class="text-small font-medium">Processing...</span>
                <span class="text-small text-default-500">@context.Percentage.ToString("F0")%</span>
            </div>
        </LabelContent>
    </LumexProgressBar>
</div>
