<div class="w-full flex flex-col gap-4">
    <LumexProgressBar Value="50" 
                     ShowLabel="true" 
                     IsLabelInline="true" 
                     LabelPosition="@Align.Start"
                     Size="@Size.Medium"
                     Color="@ThemeColor.Primary" />
    <LumexProgressBar Value="50" 
                     ShowLabel="true" 
                     IsLabelInline="true" 
                     LabelPosition="@Align.Center"
                     Size="@Size.Medium"
                     Color="@ThemeColor.Primary" />
    <LumexProgressBar Value="50" 
                     ShowLabel="true" 
                     IsLabelInline="true" 
                     LabelPosition="@Align.End"
                     Size="@Size.Medium"
                     Color="@ThemeColor.Primary" />
</div>
