<div class="w-full flex flex-col gap-4">
    <LumexProgressBar Value="60" Size="@Size.Small" Color="@ThemeColor.Primary" />
    <LumexProgressBar Value="60" Size="@Size.Medium" Color="@ThemeColor.Primary" />
    <LumexProgressBar Value="60" Size="@Size.Large" Color="@ThemeColor.Primary" />
</div>
