@namespace LumexUI
@inherits LumexComponentBase

@using S = KbdSlots;

<LumexComponent As="@As" Class="@GetStyles( nameof( S.Base ) )">
	@foreach (var key in Keys)
	{
		<abbr class="@GetStyles( nameof( S.Abbr ) )">@key</abbr>
	}

	<span class="@GetStyles( nameof( S.Content ) )">@ChildContent</span>
</LumexComponent>