@using LumexUI.Shared.Icons

<div class="w-full flex flex-col">
    <LumexTabs Variant="@TabVariant.Underlined"
               Color="@ThemeColor.Primary"
               Classes="@_classes">
        <LumexTab>
            <TitleContent>
                <div class="flex items-center space-x-2">
                    <ImagesIcon Size="20" />
                    <span>Photos</span>
                    <LumexChip Size="@Size.Small" Variant="@ChipVariant.Flat">
                        9
                    </LumexChip>
                </div>
            </TitleContent>
        </LumexTab>
        <LumexTab>
            <TitleContent>
                <div class="flex items-center space-x-2">
                    <MusicIcon Size="20" />
                    <span>Music</span>
                    <LumexChip Size="@Size.Small" Variant="@ChipVariant.Flat">
                        2
                    </LumexChip>
                </div>
            </TitleContent>
        </LumexTab>
        <LumexTab>
            <TitleContent>
                <div class="flex items-center space-x-2">
                    <ClapperboardIcon Size="20" />
                    <span>Videos</span>
                    <LumexChip Size="@Size.Small" Variant="@ChipVariant.Flat">
                        1
                    </LumexChip>
                </div>
            </TitleContent>
        </LumexTab>
    </LumexTabs>
</div>

@code {
    private TabsSlots _classes = new()
    {
        TabList = "gap-6 w-full rounded-none p-0 border-b border-divider",
        Tab = "max-w-fit px-0 h-12",
        TabContent = "group-data-[selected=true]:text-secondary",
        Cursor = "w-full bg-secondary"
    };
}