<div class="flex items-center gap-4">
    <LumexButton IconOnly="@true" Color="@ThemeColor.Danger">
        <LumexIcon Icon="@Icons.Rounded.Favorite" />
    </LumexButton>
    <LumexButton IconOnly="@true" Color="@ThemeColor.Warning">
        <LumexIcon Icon="@Icons.Rounded.PhotoCamera" />
    </LumexButton>
</div>