<div class="flex flex-col gap-2">
    <LumexModal @bind-Open="@_isOpen">
        <LumexModalTrigger Variant="@Variant.Flat">Open Modal</LumexModalTrigger>
        <LumexModalContent>
            <LumexModalHeader Class="flex-col gap-3">
                <div class="size-10 flex items-center justify-center bg-default-100 rounded-full">
                    <RocketIcon Size="20" />
                </div>
                Welcome to LumexUI
            </LumexModalHeader>
            <LumexModalBody>
                <p>
                    A beautiful, fast, and modern Blazor UI library for building
                    customizable web applications with ease.
                </p>
            </LumexModalBody>
            <LumexModalFooter>
                <LumexButton FullWidth="@true"
                             Color="@ThemeColor.Primary"
                             Radius="@Radius.Full"
                             OnClick="@(() => _isOpen = false)">
                    Confirm
                </LumexButton>
            </LumexModalFooter>
        </LumexModalContent>
    </LumexModal>

    <p class="text-small text-default-500">
        Open: @(_isOpen ? "true" : "false")
    </p>
</div>

@code {
    private bool _isOpen;
}
