@namespace LumexUI
@inherits LumexComponentBase
@typeparam T

<CascadingValue TValue="ListboxContext<T>" Value="@_context" IsFixed="@true">
    <div class="@_slots.Root"
         style="@RootStyle"
         data-slot="base"
         @attributes="@AdditionalAttributes">
        <LumexComponent As="@As"
                        Class="@_slots.List"
                        data-slot="list">
            @if (_context.Items.Count == 0)
            {
                <li>
                    <div class="@_slots.EmptyContent" data-slot="empty-content">
                        @EmptyContent
                    </div>
                </li>
            }
            else
            {
                @ChildContent
            }
        </LumexComponent>
    </div>
</CascadingValue>
