@namespace LumexUI
@inherits LumexComponentBase
@typeparam T

<CascadingValue TValue="ListboxContext<T>" Value="@_context" IsFixed="@true">
    <div class="@_slots.Root"
         style="@RootStyle"
         data-slot="base"
         @attributes="@AdditionalAttributes">
        <LumexComponent As="@As"
                        Class="@_slots.List"
                        data-slot="list">
            @if( !Items?.Any() ?? false )
            {
                <li>
                    <div class="@_slots.EmptyContent" data-slot="empty-content">
                        @EmptyContent
                    </div>
                </li>
            }
            @if( Items is not null )
            {
                foreach( var item in Items )
                {
                    <LumexListboxItem T="T" @key="@item">
                        @item
                    </LumexListboxItem>
                }
            }
            else if( ChildContent is not null )
            {
                @ChildContent
            }
        </LumexComponent>
    </div>
</CascadingValue>
