@namespace LumexUI
@inherits LumexInputBase<string?>

<LumexComponent As="@As"
                Class="@RootClass"
                Style="@RootStyle"
                data-slot="root"
                data-filled-focused="@Utils.GetDataAttributeValue( FilledOrFocused )"
                @attributes="@AdditionalAttributes">

    <div class="@InputWrapperClass"
         data-slot="input-wrapper"
         @onclick="@OnInputWrapperClickAsync">

        @if( !string.IsNullOrEmpty( Label ) )
        {
            <label class="@LabelClass" data-slot="label">@Label</label>
        }

        <div class="@InnerWrapperClass" data-slot="inner-wrapper">
            <input class="@InputClass"
                   value="@CurrentValueAsString"
                   placeholder="@Placeholder"
                   data-slot="input"
                   @ref="@ElementReference"
                   @onchange="@OnChangeAsync"
                   @onblur="@OnBlurAsync" />
        </div>
    </div>
</LumexComponent>
