@namespace LumexUI
@inherits LumexInputBase<string?>

<LumexComponent As="@As"
                Class="@RootClass"
                Style="@RootStyle"
                data-slot="root"
                @attributes="@AdditionalAttributes">
    <div data-slot="wrapper">
        @if( !string.IsNullOrEmpty( Label ) )
        {
            <label class="@LabelClass" data-slot="label">@Label</label>
        }

        <div data-slot="inner-wrapper">
            <input data-slot="input" />
        </div>
    </div>
</LumexComponent>
