<div class="grid w-full grid-cols-1 gap-4 md:grid-cols-2">
    <LumexCode Color="@ThemeColor.Default">
        dotnet add package LumexUI
    </LumexCode>

    <LumexCode Color="@ThemeColor.Primary">
        dotnet add package LumexUI
    </LumexCode>

    <LumexCode Color="@ThemeColor.Secondary">
        dotnet add package LumexUI
    </LumexCode>

    <LumexCode Color="@ThemeColor.Warning">
        dotnet add package LumexUI
    </LumexCode>

    <LumexCode Color="@ThemeColor.Success">
        dotnet add package LumexUI
    </LumexCode>

    <LumexCode Color="@ThemeColor.Danger">
        dotnet add package LumexUI
    </LumexCode>
</div>