<div class="flex flex-col gap-4">
    <LumexCode Radius="@Radius.None">dotnet add package LumexUI</LumexCode>
    <LumexCode Radius="@Radius.Small">dotnet add package LumexUI</LumexCode>
    <LumexCode Radius="@Radius.Medium">dotnet add package LumexUI</LumexCode>
    <LumexCode Radius="@Radius.Large">dotnet add package LumexUI</LumexCode>
    <LumexCode Radius="@Radius.Full">dotnet add package LumexUI</LumexCode>
</div>