<div class="w-full flex flex-col gap-4">
    <LumexProgress Value="70" Color="@ThemeColor.Default" aria-label="Loading..." />
    <LumexProgress Value="70" Color="@ThemeColor.Primary" aria-label="Loading..." />
    <LumexProgress Value="70" Color="@ThemeColor.Secondary" aria-label="Loading..." />
    <LumexProgress Value="70" Color="@ThemeColor.Success" aria-label="Loading..." />
    <LumexProgress Value="70" Color="@ThemeColor.Warning" aria-label="Loading..." />
    <LumexProgress Value="70" Color="@ThemeColor.Danger" aria-label="Loading..." />
    <LumexProgress Value="70" Color="@ThemeColor.Info" aria-label="Loading..." />
</div>