<div class="w-full flex flex-col gap-4">
    <LumexProgress Value="70" Color="@ThemeColor.Default" AriaLabel="Loading..." />
    <LumexProgress Value="70" Color="@ThemeColor.Primary" AriaLabel="Loading..." />
    <LumexProgress Value="70" Color="@ThemeColor.Secondary" AriaLabel="Loading..." />
    <LumexProgress Value="70" Color="@ThemeColor.Success" AriaLabel="Loading..." />
    <LumexProgress Value="70" Color="@ThemeColor.Warning" AriaLabel="Loading..." />
    <LumexProgress Value="70" Color="@ThemeColor.Danger" AriaLabel="Loading..." />
    <LumexProgress Value="70" Color="@ThemeColor.Info" AriaLabel="Loading..." />
</div>