<div class="w-full flex flex-col gap-4">
    <LumexProgress Striped="@true" Value="70" Color="@ThemeColor.Default" Size="@Size.Medium" aria-label="Loading..." />
    <LumexProgress Striped="@true" Value="70" Color="@ThemeColor.Primary" Size="@Size.Medium" aria-label="Loading..." />
    <LumexProgress Striped="@true" Value="70" Color="@ThemeColor.Secondary" Size="@Size.Medium" aria-label="Loading..." />
    <LumexProgress Striped="@true" Value="70" Color="@ThemeColor.Success" Size="@Size.Medium" aria-label="Loading..." />
    <LumexProgress Striped="@true" Value="70" Color="@ThemeColor.Warning" Size="@Size.Medium" aria-label="Loading..." />
    <LumexProgress Striped="@true" Value="70" Color="@ThemeColor.Danger" Size="@Size.Medium" aria-label="Loading..." />
    <LumexProgress Striped="@true" Value="70" Color="@ThemeColor.Info" Size="@Size.Medium" aria-label="Loading..." />
</div>