<div class="w-full flex flex-col gap-4">
    <LumexProgress Striped Value="70" Color="@ThemeColor.Default" aria-label="Loading..." Size="@Size.Medium" />
    <LumexProgress Striped Value="70" Color="@ThemeColor.Primary" aria-label="Loading..." Size="@Size.Medium" />
    <LumexProgress Striped Value="70" Color="@ThemeColor.Secondary" aria-label="Loading..." Size="@Size.Medium" />
    <LumexProgress Striped Value="70" Color="@ThemeColor.Success" aria-label="Loading..." Size="@Size.Medium"/>
    <LumexProgress Striped Value="70" Color="@ThemeColor.Warning" aria-label="Loading..." Size="@Size.Medium" />
    <LumexProgress Striped Value="70" Color="@ThemeColor.Danger" aria-label="Loading..." Size="@Size.Medium" />
    <LumexProgress Striped Value="70" Color="@ThemeColor.Info" aria-label="Loading..." Size="@Size.Medium" />
</div>