@namespace LumexUI
@inherits LumexComponentBase

<CascadingValue TValue="NavbarContext" Value="@_context" IsFixed="@true">
    <LumexComponent As="@As"
                    Class="@RootClass"
                    Style="@RootStyle"
                    @attributes="@AdditionalAttributes">
        <nav>
            @ChildContent
        </nav>
    </LumexComponent>
</CascadingValue>
